body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}

#calendar {
	width: 900px;
	margin: 0 auto;
	}

#resultarea {
	margin-left: 20px;
	float: left;
	height: 300px;
	width: 600px;
	text-align: left;
	overflow-y: auto;
}

#filters {
	margin-right: 20px;
	float: right;
}

#slider-range {
	width: 250px;
}