body {
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}

#calendar {
	width: 700px;
	margin: 0 auto;
	float:left;
	}

#resultarea {
	height: 500px;
	width:425px;
	text-align: left;
	overflow-y: auto;
	float:right;
}

#termDropdown {
	text-align:left;
}

#departmentDropdown {
	text-align: left;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#title{
	margin-right:400px;
}

#term {
	margin-top: -10px;
	margin-left:40%;
}

#department{
	margin-right: 40%;
	margin-top: -10px;


}



